<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                You have finished the practice! From now on, the rewards will count towards your bonus.
                <br><br>
                Remember, at the end of the game, we will <b>choose 6 garden plots at random</b> and pay you an additional bonus based on the total amount of reward you earned across those 6 garden plots.  
                <br><br>
            </p>

        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
