<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                Before each garden plot, you will see one of the two images below. 
                <br/><br/>
            </p>

            <table class='table table-bordered table-striped text-center'>
              <tr>
                <td style="padding:10px"><img src='{{ server_location }} static/images/cues/reward/Rew1.png' height="200"></td>
                <td style="padding:10px"><img src='{{ server_location }} static/images/cues/reward/Rew2.png' height="200"></td> 
              </tr>
            </table>

            <p id= lowValueInstructions>  
                <br><br>
              <p id= highValueInstructions> 
                <br><br>
            </p>
        </div>

</div>
<script type="text/javascript">
    var lowValueText= "In the LEFT image, you can earn a low reward ("+ lowValue +" fruits) for each seed you plant, indicated by the empty money bag." 
    var highValueText = "In the RIGHT image, you can earn a high reward (" + highValue + " fruits) for each seed you plant, indicated by the empty money bag."
    

    document.getElementById("lowValueInstructions").innerHTML = lowValueText;
    document.getElementById("highValueInstructions").innerHTML = highValueText;
     

</script>

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
