<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                You have finished the practice! From now on, the points will count towards your bonus.
                <br><br>
                At the end of the game, we will <b>choose 4 garden plots from your personal garden and 4 garden plots from the group's garden at random</b>.
                <br><br>
                We will pay <b>you</b> an additional bonus based on the total amount of points earned across the 4 <b>personal</b> garden plots.
            </p>
            <p id="insertGroupPay">
            </p>

        </div>

</div>
<script type="text/javascript">
    var testGroupBold= testGroup.bold()
    var groupstr= "group"
    var groupBold= groupstr.bold()
    var GroupText=  "We will pay " + testGroupBold+" an additional bonus based on the total amount of points earned across the 4 "+ groupBold+" garden plots." 
    
    document.getElementById("insertGroupPay").innerHTML = GroupText;
    

</script>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
