<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                <center>In the garden plots there are several types of seeds you can plant.  </center>
                <br><br>
                   <center>These pictures are the different types of seeds you will see.  </center></b>. 
                <br/><br/>
                  <center> <div class= "outer" style="display: inline-block;"><img id="fruitD" >
                        <div class="inner"><p><strong>APPLE</strong></p></div> 
                    </div>
                 <div class= "outer" style="display: inline-block;"><img id="fruitF">
                        <div class="inner"><p><strong>LEMON</strong></p></div> 
                    </div>
                 <div class= "outer" style="display: inline-block;"><img id="fruitJ">
                        <div class="inner"><p><strong>PEAR</strong></p></div> 
                    </div>
                 <div class= "outer" style="display: inline-block;"><img id="fruitK">
                        <div class="inner"><p><strong>PEACH</strong></p></div> 
                    </div></center>
                 <script type="text/javascript">
                            console.log("inside instruction 1FB and paths are" +images)
                            console.log("inside instruction 1FB  and paths are" +paths)
                            document.getElementById("fruitD").src = paths[0];
                            document.getElementById("fruitF").src = paths[1];
                            document.getElementById("fruitJ").src = paths[2];
                            document.getElementById("fruitK").src = paths[3];
                </script><br />
            </p>
        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
