<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                You will continue doing the same task. Remember, you should respond only to the <strong>PICTURE</strong> of the fruit and <strong>NOT</strong> based on the label.
                <br><br>
                In the remainder of the game, you will have the opportunity to earn additional rewards based on how you perform the game. You will earn rewards based on the number of seeds you plant. The amount of rewards you can earn for the planted seeds will change depending on the garden plot.
                <br/><br/>
                In some plots the fruits will be worth a <b>low reward ($0.01)</b>  and in others, they will be worth a <b>high reward ($0.10)</b>.   
                <br/><br/>
                Before entering each garden plot you will be told the amount of reward you can earn for planting each seed in the garden plot. 
                <br/><br/>
                We will add up the rewards from each <b>correct</b> trial to determine the total reward for each garden plot. We will not count incorrect responses towards your reward. For example, if you answer 10 trials correctly and 2 trials incorrectly in a high reward garden plot, your reward for that garden plot would be $1.00. At the end of the game, we will <b>choose 6 of these garden plots at random</b> and pay you an additional bonus based on the total amount of reward you earned across those 6 garden plots. 
                <br/><br/>
                This next section will be a short practice where your rewards will not count and you can make sure you understand the game. After this practice, the rewards will count towards your bonus.

            </p>
        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
