<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <p>
            Please answer the following questions based off of the instructions that you just read.
        </p>

        <ol type="1">
            <img src='{{ server_location }} static/images/cues/reward/Rew1.png' height="100">

            <li>When you see the image above at the start of a set, what is the maximum possible reward you can earn on each response?
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q1a1"> $0.00<br />
                    <input type="radio" class="answer" name="q1answer" id="q1a2"> $0.01<br />
                    <input type="radio" class="answer" name="q1answer" id="q1a3"> $0.10<br />
                </form>
            </li>

            <hr />

            <img src='{{ server_location }} static/images/cues/reward/Rew2.png' height="100">

            <li>When you see the image above at the start of a set, what is the maximum possible reward you can earn on each response?
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q2a1"> $0.00<br />
                    <input type="radio" class="answer" name="q1answer" id="q2a2"> $0.01<br />
                    <input type="radio" class="answer" name="q1answer" id="q2a3"> $0.10<br />
                </form>
            </li>
        </ol>
    </p>

</div>


<div class="instructionsnav">
        <div class="row" id="buttons">
            <button type="button" id="instructButton" class="btn btn-primary btn-lg" onclick="return instruct_onclick()">
                    Return to Instructions
            </button>
            <button type="button" id="submitButton" class="btn btn-primary btn-lg pull-right" onclick="return submit_onclick()">
                    Submit Answer
            </button>
        </div>
    </div>

</div>


<script>

    function instruct_onclick() {

        psiTurk.doInstructions(
            instruction3Pages, // a list of pages you want to display in sequence
            function() { currentview = new FullPractice(); } // what you want to do when you are done with instructions
        );

    }

    function submit_onclick() {

        var radios = document.getElementsByClassName("answer");
        var answers = 0;

        for (var i = 0, len = radios.length; i < len; i++) {
            if (radios[i].checked) {
                answers ++;
            }
        }

        if (answers == 2) {     // if number fo answers eqauls number of questions
            check_answers()
        } else {
            alert('You did not answer all the questions. Please go back and answer any questions you missed.');
        }
    }

    function check_answers() {
        // check that the right answers where chosen 
        if (!(document.getElementById('q1a2').checked && document.getElementById('q2a3').checked)) {
            alert('You have made an error, please check your answers.');    
        } else {
            var src = document.getElementById("buttons");
            var submitButton = document.getElementById("submitButton");
            var instructButton = document.getElementById("instructButton");
            var nextButton = document.createElement("button");
            nextButton.textContent = 'Correct! Press to continue.';
            nextButton.setAttribute("id", "next");
            nextButton.setAttribute("value", "submit");
            nextButton.setAttribute("class", "btn btn-success btn-lg center-block continue");        
            src.appendChild(nextButton);
            src.removeChild(submitButton);
            src.removeChild(instructButton);
        };

    }

</script>
