<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                You will continue doing the same task. Remember, you should respond only to the <strong>PICTURE</strong> of the fruit and <strong>NOT</strong> based on the label.
                <br><br>
                In the remainder of the game, you will have the opportunity to earn additional rewards based on how you perform the game. You will earn rewards based on the number of seeds you plant. The amount of rewards you can earn for the planted seeds will change depending on the garden plot.
                <br/><br/>
            </p>
                <p id= rewardAmountInstructions>   
                <br/><br/>
            <p>
                Before entering each garden plot you will be told the amount of points you can earn for planting each seed in the garden plot. 
                <br/><br/>
                We will add up the points from each <b>correct</b> trial to determine the total points for each garden plot. We will not count incorrect responses towards your points. For example, if you answer 10 trials correctly and 2 trials incorrectly in a high reward garden plot, your points for that garden plot would be 1000 points. 
                <br/><br/>
                This next section will be a short practice where your rewards will not count and you can make sure you understand the game. After this practice, the rewards will count towards your bonus. At the end of the game we will add up your points and convert the points into real money.

            </p>
        </div>

</div>
<script type="text/javascript">
    var lowValuetext= "low reward ("+lowValue +" points)"
    var highValuetext= "high reward ("+highValue +" points)."
    var lowValueBold=lowValuetext.bold()
    var highValueBold=highValuetext.bold()
    var rewardAmountText= "In some plots the fruits will be worth a "+ lowValueBold +" and in others, they will be worth a " + highValueBold 
    
    

    document.getElementById("rewardAmountInstructions").innerHTML = rewardAmountText;

     

</script>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
