<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                Every turn, you will continue to see a fruit tree image. 
                <br/><br/>
                Every turn there are PERFORMANCE Trees, and you will ALWAYS see a fruit image for a PERFORMANCE Trees because they do require you to water them to produce fruit. 
                <br/><br/>
                PERFORMANCE Trees produce fruit which you can collect at the end of the turn based on your watering performance during the turn.
                 <br/><br/>
                However, you will not know if you can collect fruit from the PERFORMANCE Trees until the end of a turn. 
                <br/><br/>
                If you are collecting fruit from the PERFORMANCE trees at the end of the turn you will see this image: 
            </p>

            <table class='table table-bordered table-striped text-center'>
              <tr>
                <td style="padding:10px"><img src='{{ server_location }} static/images/cues/efficacyGarden/performance.png' height="200"></td>
              </tr>
            </table>

            <p >  
                This image means the amount of fruit you collected and the number of coins you earned was based on how well you watered the PERFORMANCE Trees during the turn. 

                <br><br>
            </p>
        </div>

</div>
<script type="text/javascript">

</script>

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
