<div id="container-instructions">

    <h1>Instructions-Perform on turns</h1>

    <hr />

    <div class="instructions well">

        <p>
            <font size=4>
            The game will be broken up into turns. Each turn you will have a fixed amount of time (about 7 seconds), so the faster you respond, the more fruit trees you can water. 
            <br/><br/>
           Each turn will start with a fruit image and the label. Once you press the key to water the fruit a new fruit and label will appear. This will keep happening until the time for that turn runs out.
            <br/><br/>
            You will continue doing the same task. Remember, you should respond only to the <strong>PICTURE</strong> of the fruit and <strong>NOT</strong> based on the label.
            <br/><br/>
            </font>
        </p>

        <script type="text/javascript">
            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
         </div>
         <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                Press space to continue <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
         </div>
         <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
