<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                Now you will do several turns.
                <br/><br/>
                Every turn when you see a fruit tree image, it will ONLY ever be a PERFORMANCE Tree.
                <br/><br/>
                After each turn you will see which type of trees you can collect fruit from and how many coins you earned.
                <br/><br/>
                In this practice, you will ONLY collect fruit from RANDOM TREES at the end of the turn.
                <br/><br/>
                Remember: When you can collect fruit from RANDOM Trees, the number of fruit you can collect and how many coins you can earn DOES NOT depend on how well you water the PERFORMANCE Trees. 

        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
