<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                Every so often after a turn you will be asked: 
                <br/><br/>
                How much do you think the number of fruits you collect and coins you earn depends on your watering performance? 
                <br/><br/>
                If you move the slider to the left this means you think the number of fruits you collect and coins you earn does not at all depend on your performance watering the PERFORMANCE Trees during the past few turns. 
                <br/><br/>
                If you move the slider to the right this means you think the number of fruits you collect and coins you earn depends completely on your performance watering the PERFORMANCE Trees during the past few turns. 

            <table class='table table-bordered table-striped text-center'>
              <tr>
                <td style="padding:10px"><img src='{{ server_location }} static/images/probe1.png' height="300" width="350"></td>
              </tr>
            </table>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
