<div id="container-instructions">

    <h1>Instructions</h1>


    <div id="instructions well" style="background-color: #f5f5f5">

            <p>
                <br>Let's practice pressing the key to water each type of fruit tree!

                
                   When you see a fruit on the screen press the button to water that fruit tree.
                   </br><br>You need to respond while the fruit is on the screen, which will only be 2 seconds. <br>After each response, you will be given feedback about your performance. Do your best to pay attention to the task. If you accidentally hold down a key, you will get a brief time out.
                    

                <br /><br />

                <div class="row">
                    <img style='float: left; padding-left: 20px;' class='' src='{{ server_location }}/static/images/FruitMappingVisual.png' height="300">

                    <p style='padding-left: 440px;'>
                        To plant each seed, please use your... 

                        <br />
                        Left middle finger to press <strong>D</strong> to water <img id="fruitD", style="height: 75px;width: 75px"></strong><br />

                        Left index finger to press <strong>F</strong> to water <img id="fruitF", style="height: 75px;width: 55px"></strong><br />

                        Right index finger to press <strong>J</strong> to water <img id="fruitJ", style="height: 75px;width: 75px"></strong><br />

                        Right middle finger to press <strong>K</strong> to water <img id="fruitK", style="height: 75px;width: 75px"></strong><br />
                        <script type="text/javascript">
                             console.log("inside instruction 1Fd and paths are" +images)
                            console.log("inside instruction 1Fd and paths are" +paths)
                            document.getElementById("fruitD").src = paths[0];
                            document.getElementById("fruitF").src = paths[1];
                            document.getElementById("fruitJ").src = paths[2];
                            document.getElementById("fruitK").src = paths[3];
                        </script><br />
                    </p>
                </div>

            </p>
        

    </div>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Click to continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>
