<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>  
                REMEMBER:
                <br/><br/>
                During each turn there will be PERFORMANCE Trees and RANDOM Trees. 
                <br/><br/>
                Every turn, when you see a fruit tree image it will ALWAYS be a PERFORMANCE Tree because they require you to water them to produce fruit. 
                <br/><br/>
                Every turn there are also RANDOM Trees, but you will never see a fruit image for a RANDOM Tree because they do NOT require you to water them to  produce fruit. 
                <br/><br/>
                You may collect fruit from the RANDOM or the PERFORMANCE Trees.
                <br/><br/>
                However, you will not know which type of tree, RANDOM or PERFORMANCE, you can collect fruit from until the end of a turn.
                <br/><br/>
                This means in some parts of the garden you can collect fruit based on your performance watering the PERFORMANCE trees and in other parts of the garden you can collect fruit produced from the RANDOM Trees which do not depend on your performance watering. 
            </p>

            <table class='table table-bordered table-striped text-center'>
              <tr>
                <td style="padding:10px"><img src='{{ server_location }} static/images/cues/reward/Rew1.png' height="200"></td>
              </tr>
            </table>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
