<div id="container-instructions">

    <h1>QUIZ</h1>


    <div class="instructions well">

        <p>
            Please answer the following question based off of the instructions that you just read.
        </p>

        <ol type="1">
            
            <li>During a turn you can water
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q1a1"> ONLY PERFORMANCE TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q1a2"> ONLY RANDOM TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q1a3"> BOTH RANDOM AND PERFORMANCE TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q1a4"> NEITHER RANDOM NOR PERFORMANCE TREES<br />
                </form>
            </li>

            <hr />

            <li>If you see this image at the end of a turn it means you can collect fruit from <img id="fruitT2", style="height: 75px;width: 75px"></strong><br />
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q2a1"> ONLY PERFORMANCE TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q2a2">  ONLY RANDOM TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q2a3"> BOTH RANDOM AND PERFORMANCE TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q2a4"> NEITHER RANDOM NOR PERFORMANCE TREES<br />
                </form>
            </li>

            <hr />

            <li>If you see this image at the end of a turn it means the number of fruit you collected and the number of coins you earned were based on: <img id="fruitT3", style="height: 75px;width: 75px"></strong><br />
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q3a1"> How well you watered the PERFORMANCE TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q3a2"> How well you watered the RANDOM TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q3a3"> How well you watered the RANDOM TREES and PERFORMANCE TREES<br />
                    <input type="radio" class="answer" name="q1answer" id="q3a4"> Not based on how well you watered<br />
                </form>
            </li>
        </ol>
    </p>
    
</div>


<div class="instructionsnav">
    <div class="row" id="buttons">
        <button type="button" id="instructButton" class="btn btn-primary btn-lg" onclick="return instruct_onclick()">
                    Return to Instructions
            </button>
            <button type="button" id="submitButton" class="btn btn-primary btn-lg pull-right" onclick="return submit_onclick()">
                    Submit Answer
            </button>
    </div>
</div>

</div>


<script>
     $("body").unbind("keydown").focus().keydown(continue_handler);

    //document.getElementById("fruitT1").src = "/static/images/cues/efficacyGarden/performance.png";
    document.getElementById("fruitT2").src = "/static/images/cues/efficacyGarden/performance.png";
    document.getElementById("fruitT3").src = "/static/images/cues/efficacyGarden/performance.png";

    function instruct_onclick() {

        psiTurk.doInstructions(
           instructionEfficacyHighPages,practiceBlocksGardenPoints('performance','random')
        );

    }

    function submit_onclick() {

        var radios = document.getElementsByClassName("answer");
        var answers = 0;

        for (var i = 0, len = radios.length; i < len; i++) {
            if (radios[i].checked) {
                answers ++;
            }
        }
        console.log(radios)
        console.log(answers)

        if (answers == 3) {     // if number fo answers eqauls number of questions
            check_answers()
        } else {
            alert('You did not answer the question. Please go back and answers.');
        }
    }

    function check_answers() {
        // check that the right answers where chosen 
        if (!(document.getElementById('q1a1').checked && document.getElementById('q2a1').checked && document.getElementById('q3a1').checked )) {
            alert('You have made an error, please check your answer.');    
        } else {
            var src = document.getElementById("buttons");
            var submitButton = document.getElementById("submitButton");
            var instructButton = document.getElementById("instructButton");
            var nextButton = document.createElement("button");
            nextButton.textContent = 'Correct! Press to continue.';
            nextButton.setAttribute("id", "next");
            nextButton.setAttribute("value", "submit");
            nextButton.setAttribute("class", "btn btn-success btn-lg center-block continue");        
            src.appendChild(nextButton);
            src.removeChild(submitButton);
            src.removeChild(instructButton);
        };

    }

</script>
