<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                
                There are two types of trees in the garden that fruit grows on:
                <br/><br/>
                RANDOM Trees and PERFORMANCE Trees
                <br/><br/>
                Just as before, at the end of a turn you will collect fruit and earn coins.
                <br/><br/>
                However, you will either collect fruit from the RANDOM Trees or PERFORMANCE Trees.
                <br/><br/>
                You will not know which trees you can collect fruit from until the end of the turn. 
                <br/><br/>
                Click next to learn about the different types of trees in the garden! 

        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
