 <script>
    var continue_handler = function(event){
        if(event.keyCode == spaceKey)document.getElementById("next").click();
    };
    $("body").unbind("keydown").focus().keydown(continue_handler);
</script>

<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                Welcome to the Garden!
                <br><br>
                 In this game your goal is to collect as many fruit as possible!</b>. 
                <br/><br/>
                Click forward to learn how to play the game!
            </p>
        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
