<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                
               Now the real game will start where you can earn bonus money for collecting fruit and earning coins. 
                <br/><br/>
                After each turn you find out which type of tree you can collect fruit from. 
                <br/><br/>
                The fruit you collect is worth coins.
            </p>
                <p id= rewardAmountInstructions>   
            <p>
                You will see which tree you collected fruit from and how many coins you earned at the end of each turn.
            </p>
                At the end of the game, we will choose 6 of these turns at random and pay you an additional bonus based on the total amount of coins you collected across those 6 turns.
        </div>

</div>
<script type="text/javascript">
    var coinPricetext= 10 + " coins are worth "
    var moneyText= .50 +" cents" 
    var rewardAmountText= coinPricetext + moneyText
    
    

    document.getElementById("rewardAmountInstructions").innerHTML = rewardAmountText;

     

</script>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
