<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                As you move across the garden, there will be times when you will more or less often collect fruit and earn coins based on how you water the PERFORMANCE Trees.  
                <br/><br/>
                You should do your best to keep track of how often you collect fruit and earn coins from the PERFORMANCE Trees. This will help you do the task better and earn more coins!
                <br/><br/>
                You will also often be asked to estimate how often you are earning coins and if your performance is influencing whether you are earning coins. Please do your best to estimate this.
                <br/><br/>
                Click Next to see examples of these questions. 

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
