<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                
                Great Job! 
                <br/><br/>
                You just practiced what a turn looks like when you can collect from PERFORMANCE TREES.
                <br/><br/>
                Remember, you can collect fruit and earn coins from two types of trees in the garden. 
                <br/><br/>
                Click next to learn about the RANDOM Trees! 

        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
