<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <p>
            Nice Job!
            <br /><br />
            In garden plots you will see fruits with labels on them. These labels will be the names of the fruits. Sometimes the fruit will be correctly labeled and the label will match the fruit image  and other times the wrong label will be on the fruit.
            <br /><br />
            Importantly, you should continue to press the key to plant the seed for the <b>IMAGE of the Fruit</b>. You should <b>not</b> press a key based on the label. 
            <br /><br />
            For example you may see: 
           <div class= "outer" style="display: inline-block;"><img id="fruitD" img>
                         
                    </div>

            <br /><br />
            If you saw this you should press <strong>D</strong> to plant the seed for <strong >APPLE</strong> and ignore the label that says  <strong>PEAR</strong>. 


             <script type="text/javascript">
                            //console.log("inside instruction 1FB and responseFruit are" +responseFruit)
                            //console.log("inside instruction 1FB  and responseFruitSCR are" +responseFruitSCR)
                            document.getElementById("fruitD").src ="/static/images/apple_pear_grey.png";
                            //document.getElementById("innertext").innerHTML= responseFruit[2];
                            //document.getElementById("textD").innerHTML = responseFruit[0]; 
                            //document.getElementById("textF").innerHTML = responseFruit[2]; 

                </script><br />

        </p>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
         </div>
         <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                Press space to continue <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
         </div>
         <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
