<div id="container-instructions">

    <h1>Instructions</h1>


    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>    
                <center>To plant the seeds you have to press the key that corresponds the specific fruit seed.  </center>
                <br><br>
                   <center>These are the keys to press to plant each type of seed.  </center></b>. 
                <br/><br/>
                <center> <div class= "outer" style="display: inline-block;"><img id="fruitD" >
                        <div class="inner"><p><strong>D</strong></p></div> 
                    </div>
                 <div class= "outer" style="display: inline-block;"><img id="fruitF">
                        <div class="inner"><p><strong>F</strong></p></div> 
                    </div>
                 <div class= "outer" style="display: inline-block;"><img id="fruitJ">
                        <div class="inner"><p><strong>J</strong></p></div> 
                    </div>
                 <div class= "outer" style="display: inline-block;"><img id="fruitK">
                        <div class="inner"><p><strong>K</strong></p></div> 
                    </div></center>
                 <script type="text/javascript">
                            console.log("inside instruction 1FC and responseFruit are" +responseFruit)
                            console.log("inside instruction 1FC and responseFruitSCR are" +responseFruitSCR)
                            document.getElementById("fruitD").src = responseFruitSCR[0];
                            document.getElementById("fruitF").src = responseFruitSCR[1];
                            document.getElementById("fruitJ").src = responseFruitSCR[2];
                            document.getElementById("fruitK").src = responseFruitSCR[3];
                </script><br />
            </p>
        </div>

</div>


<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>