<script>
    $("#initialfund").html(initialFundForLoss.toFixed(0));
    $("#initialbonus").html((initialFundForLoss*price).toFixed(2));
    $("body").unbind("keydown").focus().keydown(continue_handler);
</script>


<div id="container-instructions">

    <h1>Rules of the game</h1>

    <hr/>

    <div class="instructions well">

        <div class="row container-fluid">
            <p>
                <font size=4>Congratulations! You have mastered the basic operation in this game. Now we will introduce the rules.
                <br><br>
                <b>Rule 1</b>
                <br>You own a pile of <b><span id='initialfund'></span> gems</b> at your home, which is the equivalent of <b>$<span id="initialbonus"></span></b> of bonus payment. 
                <br><br>
                However, there exist bombs in this game. Bombs can destroy your gems.
                <br><br>
                <b>Rule 2</b>
                <br>There are two types of containers in the game. Some of the containers are empty. The other containers are filled with bombs.
                <br><br>
                <b>Rule 3</b>
                <br>On each turn in this game, you will play one of 2 roles: either the <b>COLLECTOR</b> or the <b>PROTECTOR</b>.
                <br>
                As the <b>COLLECTOR</b>, you will try to create gems.
                <br>
                As the <b>PROTECTOR</b>, you will try to prevent your gems at your home from being destroyed by bombs.    
                </font>
            </p>
        </div>
</div>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>