<script>
     $('#initialloss').html(initialLoss.toFixed(0));
     $("body").unbind("keydown").focus().keydown(continue_handler);
</script>


<div id="container-instructions">

    <h1>Practice-PROTECTOR</h1>

    <hr />

    <div class="instructions well">

        <div class="row container-fluid" id = "context">
            <p>
                <font size=4>
                If you do not give any correct responses before the time runs out, you will not remove any bombs and you will end up with <span id="initialloss"></span> bombs which can destroy your gems.
                <br><br>
                Now you will practice being the PROTECTOR.
                </font>
            </p>
<!--             <p>    
                You will be performing the task you just practiced throughout the experiment. At the end of the experiment, you will receive a bonus payment based on how you perform the task.
                <br><br>
                For the next part of the experiment, you will again perform sets of trials, and you will have the chance to gain money for each trial you complete correctly. For some sets, responses will be worth a <b>low reward ($0.01)</b> and in others, they will be worth a <b>high reward ($0.10)</b>. We will not count incorrect responses towards your reward. For example, if you answer 10 trials correctly and 2 trials incorrectly in a high value set, your reward for that set would be $1.00. At the end of the experiment, we will <b>choose {{ numIntervalsRewardedString }} of these sets at random</b> and pay you an additional bonus based on the total amount of reward you earned across those {{ numIntervalsRewardedString }} sets. Because any of the sets you perform could be chosen for your bonus, you should treat each set separately and as though you could receive the total reward for that set. 
                <br/><br/>
                You will have a fixed amount of time to complete any given set (for instance, 10 seconds), so the faster you are able to respond correctly the more trials you will be able to go through and the more reward you will be able to earn.
                <br/><br/>
                To give you a better sense of how the task works, you will now perform a short practice. These practice sets won't affect your final bonus.
            </p> -->
        </div>

</div>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>