<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            <font size=4>
                Welcome to the game!
                <br><br>
                 You are going to play a game in which you will have the opportunity to earn bonus money</b>. 
                <br/><br/>
                Click Continue to learn the basic rules of the game!
            </font>

        </p>

        <script type="text/javascript">

            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>