<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

        <p>
            <font size=4>
                Let's practice! 
                <br><br>
                When you see a word on the screen press the button for that color.
                <br><br>
                You need to respond while the word is on the screen, which will only be 2 seconds.
                <br><br>
                After each response, you will be given feedback about your performance. Do your best to pay attention to the task. If you accidentally hold down a key, you will get a brief time out.

            </font>


        </p>

        <script type="text/javascript">

            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>
