<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

        <p>
            <font size=4>
                To recap, here are the four different kinds of turns you will encounter in this game, in terms of how many coins the color words are worth and whether you can get coins mostly based on <strong>PERFORMANCE</strong>, or mostly by <strong>RANDOM</strong> chance.
                <br><br>

            </font>
            <img id="FullReward", style="height: 400px">

        </p>

        <script type="text/javascript">
            document.getElementById("FullReward").src = '{{ server_location }} static/images/cues/StoryEfficacyReward/FullBreakdown.png'

            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>
