<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

        <p>
            <font size=4></font>
            In this test you will see a row of Xs will appear on the screen in different <strong>INK COLORS</strong> for the color words you just learned. 
            <br><br>
            You should the key that corresponds to the <strong>INK COLOR</strong> of the Xs.
            <br><br>
            Now after each response, you will NOT be told whether you were correct or incorrect.
            <br><br>
            </font>
            <img id="InkColorMapping", style="height: 100px; width: 500px;">
        </p>

        <script type="text/javascript">
            document.getElementById("InkColorMapping").src = '{{ server_location }} static/images/cues/StoryEfficacyReward/KeyMappingXXXXs.png'
            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>
