<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            <font size=4>
                Now you understand the basic task of the game!
                <br><br>
                In the game you can get coins. 
                <br><br>
                After you finish practice, you will be able to get bonus money based on the number of coins you get in the game. 
                <br><br>
                There will be two ways that you can get these coins.
                <br><br>
                Click Continue to learn about one way in which you can get coins. 
            </font>

        </p>

        <script type="text/javascript">

            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>
